.container {
    width: 100%;
}
.aggregate-pg-stat-statements-index table {
    font-family: monospace;
    font-size: 12px;
}
.aggregate-pg-stat-statements-index table tr.affix {
    top: 50px;
    right: 15px;
    left: 15px;
    background-color: #fff;
    z-index: 5;
}
.aggregate-pg-stat-statements-index table tr.affix th {
    max-width: unset;
    display: inline-block;
    border-right: none;
}
.aggregate-pg-stat-statements-index table th a {
    display: block !important;
    overflow: hidden;
}
.aggregate-pg-stat-statements-index table tr th a:after {
    position: absolute;
    right: 0;
    top: 6px;
    background: #fff;
    padding: 3px;
}
.aggregate-pg-stat-statements-index table tr.affix th:last-child {
    border-right: solid 1px #aaa;
}
.aggregate-pg-stat-statements-index table th {
    max-width: 37px;
    position: relative;
}
.aggregate-pg-stat-statements-index table .danger {
    background: #ff4824;
}
.aggregate-pg-stat-statements-index table .filters td {
    padding: 0;
}
.aggregate-pg-stat-statements-index table .filters input {
    border-radius: 0;
    padding: 2px !important;
}
.aggregate-pg-stat-statements-index table tbody td {
    overflow: hidden;
}
.aggregate-pg-stat-statements-index .reducer {
    max-height: 72px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.aggregate-pg-stat-statements-index .reducer:after {
    content: '...';
    width: 100%;
    color: #000;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.aggregate-pg-stat-statements-index td.extend .reducer {
    max-height: 99999999px !important;
}
.aggregate-pg-stat-statements-index td.extend .reducer:after {
    display: none;
}