.wrap > .container {
    width: 100%;
}

table {
    font-family: monospace;
    font-size: 12px;
}

table tr.affix {
    top: 50px;
    right: 15px;
    left: 15px;
    background-color: #fff;
    z-index: 5;
}

table tr.affix th {
    max-width: unset;
    display: inline-block;
    border-right: none;
}

table th a {
    display: block !important;
    overflow: hidden;
}

table tr th a:after {
    position: absolute;
    right: 0;
    top: 6px;
    background: #fff;
    padding: 3px;
}

table tr.affix th:last-child {
    border-right: solid 1px #aaa;
}

table th {
    max-width: 29px;
    position: relative;
}

table .danger {
    background: #ff4824;
}

table .filters td {
    padding: 0 !important;
}

table .filters input {
    border-radius: 0;
    padding: 2px !important;
}

table tbody td {
    overflow: hidden;
}

.reducer {
    max-height: 72px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.reducer:after {
    content: '...';
    width: 100%;
    color: #000;
    display: block;
    background: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    cursor: pointer;
}

td.extend .reducer {
    max-height: 99999999px !important;
}

td.extend .reducer:after {
    display: none;
}

